.container {
  margin-bottom: 20px;
}
select {
  float: right;
  width: 35%;
}
#output {
  clear: right;
}
output {
  display: block;
}
progress {
  width: 100%;
}
small {
  color: #9DA0A4;
}
#map,
#graph,
#gradient,
#log {
  display: none;
}
#log ul {
  border: 2px solid #9DA0A4;
  list-style: none;
  margin: 3px;
  min-height: 50px;
  padding: 10px;
}
#mapCanvas {
  height: 400px;
}
#mapCanvas:-webkit-full-screen {
  height: 100%;
  width: 100%;
}
#map img {
  max-width: none;
}
#map label {
  display: inline;
  margin-left: 3px;
}
#mrg-trk-btn {
  display: none;
}
#slt-btns {
  height: 30px;
  margin-top: -50px;
  text-align: right;
}
#crp-slt-btn,
#clr-slt-btn {
  display: none;
}
