html,
body {
  height: 100%;
}
body {
  background:
    linear-gradient(27deg, #151515 2px, transparent 2px) 0 2px,
    linear-gradient(207deg, #151515 2px, transparent 2px) 4px 0px,
    linear-gradient(27deg, #222 2px, transparent 2px) 0px 4px,
    linear-gradient(207deg, #222 2px, transparent 2px) 4px 2px,
    linear-gradient(90deg, #1b1b1b 4px, transparent 4px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 8px 8px;
  background-attachment: fixed;
}
#action-bar {
  background-color: hsla(20,100%,50%,.94);
  box-shadow: 0 2px 4px black;
  position: fixed;
  width: 100%;
  z-index: 1005;
}
#action-bar h1 {
  color: white;
  display: inline;
  font-size: 1.5em;
  margin: 0;
  padding: 0 15px;
  text-shadow: 1px 1px 2px black;
  vertical-align: middle;
}
#cab {
  border-left: 1px solid rgba(255,255,255,0.6);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  padding-left: 10px;
}
#cab > button,
#export-grp {
  display: none;
}
#files {
  display: none;
}
#tracks-list {
  border: 3px dashed transparent;
  bottom: 0;
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  top: 40px;
  vertical-align: top;
  width: 30%;
}
#track-detail {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 30%;
  overflow-x: hidden;
  vertical-align: top;
  width: 70%;
}
h1,
h2,
h3,
h4 {
  color: white;
  text-shadow: 2px 2px 5px black;
}
#tracks {
  background: transparent;
  border: none;
  color: white;
  height: 100%;
  width: 100%;
}
#tracks:focus {
  outline: none;
}
#tracks-list.drop-target {
  border-color: #3333ff;
}
#tracks-list.drop-target:after {
  border-radius: 5px;
  color: rgba(64,64,255,0.8);
  content: "Drop Files Here";
  font-size: 2em;
  font-weight: bold;
  line-height: 30px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  top: 50%;
  width: 100%;
}
#output {
  clear: right;
}
output {
  color: white;
  display: block;
}
progress {
  display: none;
  width: 30%;
}
small {
  color: #9DA0A4;
}
#map,
#graph,
#gradient,
#log {
  display: none;
}
#log ul {
  border: 2px solid #9DA0A4;
  list-style: none;
  margin: 3px;
  min-height: 50px;
  padding: 10px;
}
#mapCanvas {
  height: 450px;
}
#mapCanvas:-webkit-full-screen {
  height: 100%;
  width: 100%;
}
#map img {
  max-width: none;
}
#map label {
  display: inline;
  margin-left: 3px;
}
#mrg-trk-btn {
  display: none;
}
#export-grp {
  vertical-align: middle;
}
#slt-btns {
  height: 30px;
  margin-top: -50px;
  text-align: right;
}
#crp-slt-btn,
#clr-slt-btn {
  display: none;
}
.loading {
  display: none;
}
p.controls {
  padding-top: 5px;
  margin-bottom: 5px;
}
#strava-ride-details {
  display: none;
}
#mapCanvas .olControlZoom {
  top: 48px;
}
#mapCanvas .olControlLayerSwitcher {
  top: 65px;
}
