html,
body {
  height: 100%;
}
body,
#details,
#summary,
#tracks-list:empty {
  background:
    linear-gradient(27deg, #151515 2px, transparent 2px) 0 2px,
    linear-gradient(207deg, #151515 2px, transparent 2px) 4px 0px,
    linear-gradient(27deg, #222 2px, transparent 2px) 0px 4px,
    linear-gradient(207deg, #222 2px, transparent 2px) 4px 2px,
    linear-gradient(90deg, #1b1b1b 4px, transparent 4px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 8px 8px;
  background-attachment: fixed;
}
#action-bar {
  background-color: hsla(20,100%,50%,.9);
  box-shadow: 0 2px 4px black;
  position: fixed;
  width: 100%;
  z-index: 1005;
}
#action-bar h1 {
  color: white;
  display: inline;
  font-size: 1.5em;
  margin: 0;
  padding: 0 15px;
  text-shadow: 1px 1px 2px black;
  vertical-align: middle;
}
#cab {
  display: inline-block;
  float: right;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  margin-top: 4px;
}
#cab > button,
#export-grp {
  display: none;
}
#files {
  display: none;
}
.panel {
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
  border: 1px solid #333333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.55);
}
#tracks-list {
  top: 4em;
  box-sizing: border-box;
  bottom: 280px;
  overflow-y: auto;
  padding: 10px 20px;
  position: absolute;
  width: 350px;
  left: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0;
}
#track-detail {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin-left: 30%;
  position: relative;
  vertical-align: top;
  width: 70%;
}
.track {
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 5px;
  min-height: 64px;
  padding: 0 0 0 64px;
}
.track.selected {
  box-shadow: 0 0 5px 4px orange;
}
.hover-over {
  box-shadow: 0 0 5px 4px blue;
}
.track-name {
  color: white;
  font-size: 1.2em;
  margin: 0;
  padding: 4px;
  text-shadow: 1px 1px 2px black;
}
.track span {
  color: white;
  margin-left: 4px;
  padding-left: 18px;
  position: relative;
}
.track-dist::after,
.track-time::after {
  background-image: url(../img/glyphicons-halflings-white.png);
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}
.track-dist::after {
  background-position: -24px -72px;
}
.track-time::after {
  background-position: -48px -24px;
}
.sub-tracks {
  min-height: 20px;
}
#summary {
  bottom: 20px;
  box-sizing: border-box;
  height: 250px;
  overflow-y: auto;
  padding: 10px 20px;
  position: absolute;
  width: 350px;
  left: 20px;
}
#details {
  cursor: pointer;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 90%;
  z-index: 1000;
}
#super-breakdown {
  color: white;
  display: none;
  text-shadow: 2px 2px 5px black;
}
#super-breakdown table {
  margin: 10px;
}
h1,
h2,
h3,
h4 {
  color: white;
  text-shadow: 2px 2px 5px black;
}
#tracks-list.drop-target {
  border-color: #3333ff;
}
#tracks-list.drop-target:after {
  border-radius: 5px;
  color: rgba(64,64,255,0.8);
  content: "+ Drop Files Here";
  font-size: 2em;
  font-weight: bold;
  line-height: 30px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  top: 30%;
  width: 100%;
}
#output {
  clear: right;
}
output {
  color: white;
  display: block;
}
progress {
  display: none;
  width: 30%;
}
small {
  color: #9DA0A4;
}
#log ul {
  border: 2px solid #9DA0A4;
  list-style: none;
  margin: 3px;
  min-height: 50px;
  padding: 10px;
}
#map {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
#map.panel {
  top: 4em;
  bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  left: 380px;
  right: 20px;
  transform: translate3d(0,0,0);
}
#map img {
  max-width: none;
}
#cab > .btn {
  display: none;
}
#export-grp {
  vertical-align: middle;
}
#new-trk-grp {
  display: inline-block;
  vertical-align: middle;
}
#slt-btns {
  display: none;
  height: 30px;
  margin-top: -50px;
  text-align: right;
}
.loading {
  display: none;
}
p.controls {
  padding-top: 5px;
  margin-bottom: 5px;
}
#strava-ride-details {
  display: none;
}
.ol-zoom {
  top: 3em;
}
#speedModal,
#importModal {
  z-index: 3000;
}
.modal h3 {
  color: #333;
  text-shadow: none;
}
#status-msg {
  background: rgba(17,17,17,0.5);
  border-radius: 10px;
  display: none;
  left: 40%;
  padding: 10px;
  position: absolute;
  top: 50px;
  width: 20%;
}
#status-msg-text {
  background: #333;
  border-radius: 5px;
  color: white;
  margin: 0;
  padding: 3px 8px;
  text-align: center;
}
[class^="cicon-"],
[class*=" cicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/custom-glyphicons-halflings.png?3");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.cicon-mountain {
  background-position: 0 0;
}
.cicon-strava {
  background-position: -45px 0px;
}
.cicon-split {
  background-position: 0 -15px;
}
.cicon-merge {
  background-position: -15px -15px;
}
.cicon-hud {
  background-position: -30px -15px;
}
#hud-preview {
  border: 1px solid #CCC;
  width: 100%;
}
